form{
	width:30%;
	padding:20px;
	border:1px solid #ccc;
	margin:20px auto;
	display: flex; 
  justify-content: space-between; 
  flex-wrap: wrap; 
  margin-left:33%;
  background-color: #f5f5f5;
	
	
}
.contenedor{
		justify-content: space-between; 
        align-items: center;
		display: flex;
	}
	.imagen{
		height:120px; 
		width: 120px;
	}
h1{
	margin-right:490px;
	font-style: italic;
	color:#fff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
	margin-bottom:10px;
}


body{
background:url(../imagenes/cre.PNG);
		background-repeat:no-repeat;
		background-size:cover;
}

label{
display:block;
}

input{
	margin-bottom:20px;
	padding:10px;
	border-radius:7px;
	border: 1px solid #ccc;

}
input:hover{
	border: 2px solid #ccc;
}
input:focus{
	border:1px solid #1669C4
	
}
textarea{
	height:250px;
	width:200px;
	border-radius:5px;
	border:1px solid #ccc;
	resize:none;
	max-height:300px;
	margin-bottom:15px;
}


.segundo{
	width: 45%; 
}


.boton{
	width:100%;
    color:black;
	background:#fff;
	border-radius:4px;
	cursor:pointer;
	transition: color 0.3s ease;
}
.boton:hover {
  background:#ffd700;
}

footer{
	text-align:center;
	margin-top:115px;
	width:100%;
	background:#f79324;
	color:black;
	padding:10px 0px;
}
